*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(247, 246, 244);
}

:root{
    --primary-color: blue;
    --danger-color: red;
}

/* Navigation Bar CSS Starts*/

.navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 80px;
    background: rgb(247, 246, 244);
    /* box-shadow: 1px 1px 24px; */
}

.myName{
    padding-top: 20px;
    font-size: 50px;
    color: rgb(143, 170, 220);
    font-family: 'Sacramento', cursive;
    margin-left: 30px;
}

.navList{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
    position: absolute;
    right: 100px;
}

.navitem{
    padding: 10px;
    padding-top: 20px;
    color: rgb(64, 64, 64);
    border-bottom: 3ps solid rgb(64, 64, 64);
    font-family: 'Roboto Mono', monospace;
}

.hamburger-menu{
    display: none;
}

a{
    text-decoration: none;
    color: rgb(64, 64, 64);
}

/* Navigation Bar CSS Endss*/

/* Landing Page CSS Starts */
.landingPage{
    margin-top: 120px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.left-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

.left-box-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    
}

.main-heading{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(238, 63, 60);
    font-weight: 800;
    font-size: 100px;
    display: flex;
    flex-direction: column;
}

.head-1{
    line-height: 100px;
}

.head-2{
    line-height: 100px;
}

.sub-heading{
    font-family: sans-serif;
    color: rgb(4, 135, 177);
    margin-top: 20px;
}

.social-media{
    width: 100%;
    margin-top: 50px;
}

.social-icon{
    width: 40px;
    height: 40px;
    margin: 10px;

}

.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vector-image{
    height: 600px;
    width: 800px;
}

/* About Me Container Starts */
.about-container{
    max-width: 1064px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(180,4,244);
    background: linear-gradient(90deg, rgba(180,4,244,1) 0%, rgba(250,53,53,0.9783263647255778) 34%, rgba(250,68,71,1) 62%, rgba(9,240,233,0.7682423311121324) 100%);
    border-radius: 10px;
    margin: 30px auto;
    opacity: 0.9;
    box-shadow: 2px 4px 20px grey;

}

.about-content{
    display: flex;
    flex-direction: row;
    height: 80%;
}

.about-heading{
    height: 20%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

.about-left-box{
    width: 50%;
    height: 100%;
    padding: 20px;
    
}

.about-text{
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 20px;
    padding: 20px;
}


.about-right-box{
    width: 50%;
    height: 100%;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.software{
    color: white;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 20px;
    margin-left: 20px;
}

.about-right-box-heading{
    font-family: sans-serif;
    font-size: 30px;
    padding: 20px;
}

.slider{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
}



/* Portfolio Container CSS */
.portfolio-container{
    max-width: 1064px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
}

.portfolio-heading{
    margin: 50px 0px;
    width: 100%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(250,53,53,0.9783263647255778);    
}

.portfolio-cards-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 14px grey;
    margin: 10px 0px;
}

.image-overlay{
    width: 100%;
    height: 200px;
}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: relative;
    top: -102%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 217, 102);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid rgb(237, 125, 49);
}

.image-overlay:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: rgb(237, 125, 49);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

.card-content{
    display: flex;
    flex-direction: column;
    background: rgb(255, 217, 102);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-count{
    font-size: 80px;
    color: rgb(237, 125, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.card-text{
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Review Container CSS Starts */

.review-container{
    max-width: 1064px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:  100px auto;
}

.review-heading{
    width: 100%;
    background: rgb(237, 125, 49);
    color: white;
    font-size:45px;
    font-family:'Bad Script', cursive;
    padding: 5px;
    text-align: center
}

.review-content-box{
    display: flex;
    flex-direction: column;
    background: rgb(249, 153, 79);
}

.review-main-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.review{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.arrow-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-arrow, .right-arrow{
    width: 10%;
    height: 100%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.reviewer-image{
    width: 250px;
    height: 100%;
    border-radius: 50%;

}

.review-content{
    width: 750px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.reviewer-name{
    font-size: 50px;
    color: white;
    font-family:  'Sacramento', cursive;
    padding: 20px;
}

.review-info{
    font-size: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

/* FAQs Container CSS Starts */
.FAQs-container{
    max-width: 1064px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.FAQs-heading{
    font-family:'Bad Script', cursive;
    font-size: 45px;
    padding: 20px;
    color: brown;
    text-align: center;
}

.FAQs-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.FAQs-box{
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px 0;
    background: rgb(249, 153, 79);
    box-shadow: 2px 2px 20px grey;
}

.question-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;    
    background: rgb(237, 125, 49);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.question{
    width: 88%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

.openIcon {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical{
    width: 4px;
    height: 19px;
    background: white;

}

.horizontal{
    position: relative;
    top: -12px;
    height: 4px;
    width: 19px;
    background: white;
}

.answer-box {
    width: 100%;
    padding: 10px;
    background: rgb(249, 153, 79);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    word-spacing: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.animate{
    animation: plus 0.5s ease-in forwards;
}
@keyframes plus {
    from{
        transform: rotateZ(0deg);
        opacity: 1;
    }
    to{
        transform: rotateZ(270deg);
        opacity: 0;
    }
    
}

/* Footer CSS Starts */

.footer-container{
    background: rgb(64, 64, 64);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

.footer-box{
    max-width: 1064px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0px;

}

.address{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

.address-heading{
    font-size: 30px;
    padding: 10px 0px;
}

.address-info{
    word-spacing: 15px;
    padding: 20px 0;
}

.contact-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-heading{
    font-size: 30px;
    padding: 10px 0px;
}

.contact{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact label{
    padding: 10px 0;
}

.contact input{
    width: 80%;
    margin: 10px 0px;

}

.contact button{
    width: 30%;
    outline: none;
    margin: 10px 0px;
}

/* Media Queries */

@media (max-width: 990px) {
    .navList{
        display: none;
    }

    .hamburger-menu{
        display: flex;
        flex-direction: column;
        width: 100vw;
        position: fixed;
        
    }

    .hamburger-icon{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 30px;
        right: 20px;
    }

    .line{
        width: 31px;
        height: 4px;
        background: rgb(64, 64, 64);
        border-radius: 5px;
        padding: 2px;
        margin: 3px;
    }

    .left-box{
        flex-direction: column;
    }

    .hamList{
        top: 80px;
        list-style: none;
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 90vh;
        background: black;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        /* padding-bottom: 20px; */
    }

    .hamitem{
        font-size: 30px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .hamitem a{
        color: white;
        text-decoration: none;
    }



    .vector-image{
        width: 500px;
        height: 300px;
    }

    .about-content{
        flex-direction: column;
    } 

    .about-left-box, .about-right-box{
        width: 100%;
    }
    .review{
        flex-direction: column;
        padding: 20px 0px;
    }

    .FAQs-box{
        width: 90%;
    }

    .head-1{
        font-size: 70px;
    }

    .head-2{
        font-size: 70px;
    }

    .about-container{
        padding: 10px;
    }

    .footer-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address{
        width: 100%;
    }

    .contact-form{
        width: 100%;
    }
}

@media (max-width: 501px) {
    .about-container{
        padding: 5px;
    }

    .vector-image{
        width: 320px;
        height: 250px;
    }
}